/* .container {
    width: 960px;
    border: 1px solid black;
    background-color: #fff; */
}
body {
    background-color: grey;
    margin-top: 5px;
}
.footer {
    text-align: center;
    padding-top: 10px;
    border-top: 3px solid teal;
    background-color: grey;
    height: 50px;
}
.name {
    padding-top: 5px;
    height: 50px;
    width: 150px;
    background-color: teal;
    text-align: center;
    color: white;
    font-weight: 100;
    font-style: normal;
}
.menu {
    margin-bottom: 0px;
}
header {
    text-align: left;
}
.bottom-container {
    border: 1px solid white;
    background-color: white;
    padding: 5px;
    width: 960px;
}
.content {
margin-left: 10px;
 margin-top: 20px;
margin-bottom: 100px;
padding: 5px;
 border: 1px solid grey;
}
.sub-content {
    border: 1px solid white;
    padding: 20px;
    width: 960px;
}
.header-line {
    border-bottom: 2px solid grey;
}
.top-container {
    width: 960px;
}
.image-content {
    border: 1px solid white;
    padding: 20px;
    width: 600px;
    /* margin-left: 15px; */
}
.contact-content {
    margin-left: -20px;
    margin-top: 20px;
   margin-bottom: 100px;
   padding: 5px;
    border: 1px solid grey;
}